.tac-view-editor {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(180, 180, 180, .5);
    /* tf-titlebar is at z-index 900 */
    z-index: 900; /* behind dialogs */
}