<ng-template
    #Grid
    let-component>
    <tf-grid>
        <ng-content></ng-content>
    </tf-grid>
</ng-template>

<ng-template
    #GridRow
    let-component>
    <tf-grid-row>
        <ng-container
            *ngFor="let child of component.components"
            *ngTemplateOutlet="component.componentType; context: { $implicit: child }"></ng-container>
    </tf-grid-row>
</ng-template>

<ng-template
    #GridColumn
    let-component>
    <tf-grid-col
        [cols]="!!component.size ? { default:component.size.medium, sm: component.size.small, md: component.size.medium, lg: component.size.medium, xl: component.size.large } : 4">
        <ng-container
            *ngFor="let child of component.components"
            *ngTemplateOutlet="component.componentType; context: { $implicit: child }"></ng-container>
    </tf-grid-col>
</ng-template>


<ng-template
    #GridColumn
    let-component>

</ng-template>

<ng-template
    #Field
    let-component>
    <tf-grid-col
    [cols]="!!component.size ? { default:component.size.medium, sm: component.size.small, md: component.size.medium, lg: component.size.medium, xl: component.size.large } : 4">
    <ng-container
        *ngTemplateOutlet="component.id; context: { $implicit: component.components[0] }"></ng-container>
    </tf-grid-col>
</ng-template>


<ng-content></ng-content>

<!-- <ng-container
    *ngFor="let child of component.components"
    *ngTemplateOutlet="component.id; context: { $implicit: component.components[0] }"></ng-container> -->