<div 
  class="tac-view-editor">
    

  <div
    *ngIf="technicalDrawing"
    class="tac-technical-drawing"
    [style]="toTechnicalDrawingStyle(technicalDrawing)">
  
    <!-- 
      - dimensioning (cotation in french)
    -->

    <div 
      *ngFor="let row of technicalDrawing.rows; let index = index;"
      class="tac-technical-drawing-row"
      [style]="toTechnicalDrawingRowStyle(row)">
      row {{index}}
    </div>
    <div 
      *ngFor="let column of technicalDrawing.columns; let index = index;"
      class="tac-technical-drawing-column"
      [style]="toTechnicalDrawingColumnStyle(column)">
      column {{index}}
    </div>
    

  
  </div>

  <ng-content></ng-content>


  <app-dialog
    title="Inspector"
    [bounds]="{ x: 100, y: 10, width: 320, height: 450 }">
    <tf-treeview 
      #inspectorView
      [data]="inspector" 
      displayField="name" 
      childrenField="children"
      iconField="icon"
      [allowDrag]="true"
      [selection]="inspectorSelection">
      <ng-template #treeNodeTemplate let-node="node" let-index="index">
        <span
          style="font-weight: normal !important;"
          (mousedown)="inspectorMousedownHandler($event, node)">{{node.data.name}}</span>
      </ng-template>
    </tf-treeview>
  </app-dialog>

</div>