
.tac-dialog.modal {
    pointer-events: none;
}

.tac-dialog .modal-header {
    /* cursor: grab; */
}

.tac-dialog .modal-dialog {
    pointer-events: all;
}

.tac-dialog .modal-content {
    overflow: hidden !important;
}