
.tac-dialog.modal {
    pointer-events: none;
}

.tac-dialog .modal-dialog {
    pointer-events: all;
}

.tac-dialog .modal-header * {
    cursor: default;
}

.tac-dialog .modal-content {
    overflow: hidden !important;
}

