.tac-editable-layout-placeholder {
    width: 100%;
    padding: 5px 0;
    margin: 3px;
    background: rgba(172, 172, 172, 0.25);
    border: 1px dashed rgba(172, 172, 172, 0.5);
    text-align: center;
}