
<div
    #wrapper
    class="tac-list-wrapper"
    [style]="wrapperStyle">
    <div
        #viewport
        class="tac-list-viewport"
        [style]="viewportStyle"
        (wheel)="viewportWheelHandler($event)"
        (scroll)="viewportScrollHandler($event)">
        <ul
            #list
            class="dropdown-menu"
            [style]="listStyle">
            <li 
                *ngFor="let item of items"
                role="menuitem" 
                class="dropdown-item"
                [title]="item.code">
                <a 
                    class="dropdown-item"
                    href="javascript:void(0)">
                    <tf-h-layout 
                        grow="end" 
                        spacing="sm">
                        <tf-text
                        [bold]="true" 
                        [text]="item.code"></tf-text>
                        <tf-text
                            [text]="item.shortLabel"></tf-text>
                        <tf-text 
                            [text]="item.label"></tf-text>
                    </tf-h-layout>
                </a>
            </li>
        </ul>
    </div>
    <div
        #scrollbar
        class="tac-list-scrollbar"
        [style]="scrollbarStyle"
        (scroll)="scrollbarScrollHandler($event)">
        <div
            #scrollbarContent
            class="tac-list-scrollbar-content"
            [style]="scrollbarContentStyle"></div>
    </div>  
</div>