
.tac-list-wrapper {
    display: flex;
    flex-direction: row;
    min-height: 0;
    position: absolute;
    inset: 0;
    overflow: hidden; 
    border: 1px solid rgba(0,0,0,.1); /* .dropdown-menu */
}

.tac-list-glass-wrapper {
    display: grid;
    flex: 1;    
    overflow: hidden; 
}

.tac-list-glass {    
    grid-column: 1;
    grid-row: 1; 
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.8);
}

.tac-list-message {
    text-align: center;
}

.tac-list-viewport {
   /* flex: 1; */
    grid-column: 1;
    grid-row: 1;     
    z-index: 1;
    overflow: hidden;
}

.tac-list-viewport > .dropdown-menu {
    display: block;
    position: relative;
    top: unset;
    float: unset;
    overflow: hidden;    
    border: 0 !important;
}

.tac-list-scrollbar {
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1;
}

.tac-list-scrollbar-content {
    position: relative;
    width: 1px;
}