
<div
    #wrapper
    class="tac-list-wrapper"
    [style]="wrapperStyle">
    <div 
        class="tac-list-glass-wrapper"
        [style]="glassWrapperStyle"
        (wheel)="viewportWheelHandler($event)">
        <div
            #viewport
            class="tac-list-viewport"
            [style]="viewportStyle"
            (scroll)="viewportScrollHandler($event)">
            <ul
                #list
                class="dropdown-menu"
                [style]="listStyle">
                <li 
                    *ngFor="let item of view.items"
                    role="menuitem" 
                    class="dropdown-item"
                    title="">
                    <a 
                        class="dropdown-item"
                        href="javascript:void(0)">
                        <ng-container
                            #itemContainer></ng-container>
                    </a>
                </li>
            </ul>
        </div>
        <div
            *ngIf="glasspanel"
            class="tac-list-glass">
            <div class="tac-list-message">    
                <i [class]="glasspanel.icon"></i>   
                <br/>
                <span>{{glasspanel.message}}</span>
            </div>
        </div>
    </div>
    <div
        #scrollbar
        class="tac-list-scrollbar"
        [style]="scrollbarStyle"
        (scroll)="scrollbarScrollHandler($event)">
        <div
            #scrollbarContent
            class="tac-list-scrollbar-content"
            [style]="scrollbarContentStyle"></div>
    </div>
</div>