<span>
    <tf-input 
        center
        #input
        #inputbase
        [addClasses]="styleClasses"
        [name]="component.name"
        [typeinput]="typeinput" 
        [decimals]="decimals"
        [disabled]="!component.access"
        [(ngModel)]="value"
        (blur)="blurHandler($event)"
        (keydown)="keydownHandler($event)"
        (input)="inputHandler($event)"></tf-input>
    <span
        *ngIf="!!dropdown"
        style="
            position: absolute;
            top: 7px;
            right: 11px;
            z-index: 4;">
        <i 
            aria-hidden="true" 
            class="fa fa-times" 
            title="Deselect this choice"
            style="
                display: none;
                width: 1rem;
                color: #888 !important;"></i>
        <i
            aria-hidden="true" 
            class="fa fa-chevron-down"
            (click)="clickHandler($event)"></i>
    </span>
</span>
<ng-content></ng-content>
