<tf-shell
  pageTitle=""
  [pageLoading]="pageLoading"
  [showTitlebar]="showTitlebar"
  [options]="options"
  [userInfo]="userInfo"
  [menu]="menu | async"
  (menuItemSelected)="menuItemSelected($event)"
  (menuToggled)="menuToggled($event)">
  <tf-flat-button 
    quick-actions-right 
    icon="fal fa-plus" 
    tooltip="Create Session"></tf-flat-button>
  <tf-flat-button 
    quick-actions-right 
    icon="icon-power" 
    tooltip="Quit Application"></tf-flat-button>
  <tf-flat-button 
    toolbar-right-before 
    icon="fal fa-edit"
    [disabled]="designMode" 
    (selected)="toggleDesignMode()"></tf-flat-button>
  <tf-breadcrumb
    titlebar-breadcrumb 
    id="tf-breadcrumb" 
    iconDivider="fa fa-arrow-right"
    [historyCount]="10"
    [navigationHistory]="navigationHistory"></tf-breadcrumb>
  <app-aside-panel
    aside></app-aside-panel>
  <app-commands-panel
    titlebar-commands></app-commands-panel>
  <app-page-content 
    page-content></app-page-content>  
</tf-shell>
<app-view-editor
  *ngIf="designMode"></app-view-editor>