<tf-input  
    *ngIf="!data.access"
    class="text" 
    typeinput="text" 
    [disabled]="true"
    [(ngModel)]="value"></tf-input>
<ng-content></ng-content>
<tf-chosen
    *ngIf="data.access"
    [appendToBody]="true"
    dropdownWidth="400px"
    [standalone]="true"
    [data]="items"
    [active]="selection">
    <ng-template 
        #itemTemplate
        let-data
        let-option="option">
       <ng-container [ngTemplateOutlet]="myItemTemplate" [ngTemplateOutletContext]="{ $implicit: data }"></ng-container>
    </ng-template>
</tf-chosen>