<tf-input  
    *ngIf="!component.access"
    class="text" 
    typeinput="text" 
    [disabled]="true"
    [(ngModel)]="value"></tf-input>
<ng-content></ng-content>
<tf-chosen
    *ngIf="component.access"
    [appendToBody]="true"
    dropdownWidth="400px"
    [standalone]="true"
    [data]="items"
    [active]="selection"
    [lazyLoading]="true"
    [totalCount]="totalCount"
    (needData)="onNeedData($event)"
    (needMoreData)="onNeedMoreData($event)"
    (selected)="onSelected($event)">
    <ng-template 
        #itemTemplate
        let-data
        let-option="option">
       <ng-container [ngTemplateOutlet]="myItemTemplate" [ngTemplateOutletContext]="{ $implicit: data }"></ng-container>
    </ng-template>
</tf-chosen>