
<!--
<tf-grid-layout spacing="md" addClasses="tf-width-full">
    <tf-simple-panel [cols]="12">
        <tf-section title="View Data" [titleLevel]="6" [isCollapse]="true" [lightMode]="true">
            <pre style="font-size: 9px; overflow-y: auto; max-height: 400px; width: 100%;">{{ view | json }}</pre>
        </tf-section>
    </tf-simple-panel>
</tf-grid-layout>

<tf-grid-layout *ngIf="formGroup" spacing="md" addClasses="tf-width-full">
    <tf-simple-panel [cols]="12">
        <tf-section title="Form Data" [titleLevel]="6" [isCollapse]="true" [lightMode]="true">
            <pre style="font-size: 9px; overflow-y: auto; max-height: 400px; width: 100%;">{{ formGroup.value | json }}</pre>
        </tf-section>
    </tf-simple-panel>
</tf-grid-layout>
-->

<!--
<div style="margin-left: -50px;">
<br/>

        


</div>
-->




<ng-template #container></ng-template>
<div
    #iframeWrapper
    id="view-iframe-wrapper">
    <iframe
        #iframe 
        id="view-iframe"></iframe>
</div>
<!--
    <tf-aside id="tf-aside">
        <tf-tab-group>
            <tf-tab icon="fa fa-link">
                <ul>
                    <li><a href="">See Also</a></li>
                    <li><a href="">Other Link</a></li>
                </ul>
            </tf-tab>
            <tf-tab icon="fa fa-comment-lines">
                ...
            </tf-tab>
            <tf-tab icon="fa fa-paperclip">
                ...
            </tf-tab>
        </tf-tab-group>
     </tf-aside>
   

     <tf-page-content-wrapper id="tf-page-content-wrapper" style="height: auto;">
        <tf-titlebar
            [title]="'CGCCG'"
            [loading]="false"></tf-titlebar>

        <tf-breadcrumb
            titlebar-breadcrumb 
            id="tf-breadcrumb" 
            iconDivider="fa fa-arrow-right"
            [historyCount]="10"
            [navigationHistory]="navigationHistory"></tf-breadcrumb>

        <ng-template #container></ng-template>
    </tf-page-content-wrapper>


    -->